#all{
  padding-top: 3rem;
}

#panel{
  position: fixed;
  font-size: 1.4rem;
  background-color: #222;
  width:100%;
  box-shadow:0 0 5px #AAA;
  padding: 0.2rem;
}

#panel .addmovie{
  text-decoration: none;
}

#panel .addmovie span{
  transition: 0.5s;
}

#panel .addmovie:hover span{
  color: hsl(200,100%,70%) !important;
  display: flex;
  justify-content: center;
  align-items: center;
}